@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    background: #000;
    color: white;
    line-height: 1.7;
    overflow-x: hidden;
}

img {
    width: 100%;
}

h3 {
    font-size: 26px;
    font-weight: 300;
}

h4 {
    color: #00ed82;
    font-size: 14px;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration-line: none;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: rgb(32, 32, 32);
    min-width: 135px;
    padding: 20px 32px;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-cta:hover {
    opacity: 0.8;
}

.btn-outline {
    background: none;
    color: #fff;
    border: 2px solid #fff;
}

.btn-dark {
    background: #000;
    color: #fff;
    border: 2px solid black;
    transition: 0.5s;
    transition-property: color, background, border;
}

.btn-dark:hover {
    background: #ccc;
    color: black;
    border: 2px solid gray;
}

.btn-outline:hover {
    color: #fff;
    border-color: rgb(163, 162, 162);
}

.legal-text {
    font-size: 10px;
    color: #ccc;
    margin-top: 20px;
}

.sub-link {
    display: block;
    color: #ccc;
    font-size: 12px;
    margin-top: 5px;
    text-decoration: underline;
}

.text-xl {
    font-size: 70px;
    font-weight: bold;
}

.sub-text {
    max-width: 850px;
    margin-bottom: 10px;
    font-size: 24px;
}

a:hover {
    color: #ccc;
}

ul {
    list-style-type: none;
}


/* START OF HEADER-SECTION */

.header {
    height: 530px;
    background: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.header .login-btn {
    position: relative;
    z-index: 2;
}

.header .header-content .logo {
    position: relative;
    z-index: 8;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 0;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

.header nav .login-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header .logo {
    width: 270px;
    margin: 20px;
}

.header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    z-index: 1;
    position: relative;
}

.header .header-text-1 {
    font-size: 22px;
    font-weight: bold;
}

.header .header-text-2 {
    font-size: 18px;
    margin: 25px;
}


/* END OF HEADER-SECTION */


/* START OF SUB-HEADER */

.sub-header {
    display: grid;
    grid-template-columns: 2fr 4fr 2.5fr;
    gap: 40px;
    align-items: center;
    padding: 30px 10px;
    background: linear-gradient(318.68deg, #0f495c 0%, #0d3640 49.72%, #08141f 100%);
}

.sub-header>div:last-of-type {
    justify-self: end;
    align-self: end;
}

.sub-header>div:last-of-type .sub-link {
    text-align: center;
}


/* END OF SUB-HEADER */


/* START OF CATEGORIES */

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 40px;
    justify-content: center;
}

.categories .covers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    gap: 15px;
}

.categories .cover-text {
    position: relative;
    z-index: 3;
    top: 20px;
    left: 20px;
    text-align: left;
}

.categories .covers>div {
    z-index: 2;
    height: 500px;
    width: 250px;
    position: relative;
}

.categories .cover-grad::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
}

.categories .cover-1 {
    background: url(./hulu-Images/cover-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.categories .cover-2 {
    background: url(./hulu-Images/cover-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.categories .cover-3 {
    background: url(./hulu-Images/cover-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.categories .cover-4 {
    background: url(./hulu-Images/cover-4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* END OF CATEGORIES */


/* START OF LIVE SECTION */

.live {
    background: #151516;
    padding: 40px;
}

.live-border {
    border-radius: 16px;
    border: 4px solid #1ce783;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.live a {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: underline;
}


/* END OF LIVE-SECTION */


/* START OF LIVE-SPORTS-SECTION */

.live-sports {
    background: url(./hulu-Images/live-sports.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    position: relative;
}

.live-sports-content {
    position: absolute;
    top: 160px;
    left: 80px;
    max-width: 550px;
}

.live-sports-logos {
    width: 350px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.live-sports-logos>div {
    background: url(./hulu-Images/network-logo-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-sports-logos img {
    width: 40px;
}


/* END OF LIVE-SPORTS SECTION */


/* START OF FOOTER */

.footer {
    background: #ebedf2;
    color: #333;
}

.footer a {
    color: #333;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}

.footer-lists {
    display: flex;
    justify-content: space-between;
}

.footer-lists .list-head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 1px #ccc solid;
    margin: 30px 0;
}

.social-icons img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}


/* END OF FOOTER */


/* START OF MODDEL-SECTION */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-box {
    margin: 10% auto;
    width: 400px;
    background: #fff;
    color: #333;
    position: relative;
    animation: modalopen 1.5s;
    border-radius: 10px;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-body {
    padding: 50px;
}

.modal-body h3 {
    font-weight: bold;
    z-index: 2;
}

.modal-body .btn {
    width: 100%;
    margin-top: 30px;
}

.modal .close {
    cursor: pointer;
    position: absolute;
    height: 23px;
    width: 23px;
    top: 20px;
    right: 25px;
}

.modal .modal-footer {
    background: #f7f7f9;
    color: #333;
    padding: 20px 0;
    border-top: #eee 1px solid;
    text-align: center;
}

.modal .modal-footer a {
    color: steelblue;
}


/* END OF MODAL */


/* FORMS */

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
    text-transform: uppercase;
}

.form-control input {
    width: 100%;
    border: 2px #ccc solid;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
}


/* MEDIA QUERIES FOR I-PHONE 6,7,8 PLUS */

@media(max-width: 1100px) {
    .categories .covers {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 768px) {
    .header .logo {
        width: 200px;
    }
    .header .header-content {
        text-align: center;
        padding: 0 20px;
    }
    .header .header-text-1 {
        margin-bottom: 30px;
    }
    .header .header-text-2 {
        display: none;
    }
    .sub-header {
        text-align: center;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .sub-header img {
        width: 250px;
        margin: auto;
    }
    .sub-header>div:last-of-type {
        justify-self: center;
        align-self: center;
    }
    .text-xl {
        line-height: 1.3;
        font-size: 40px;
    }
    .sub-text {
        font-size: 20px;
    }
    .categories .covers {
        grid-template-columns: 1fr;
    }
    .live-border {
        padding: 30px 10px;
    }
    .live-sports {
        background: url(./hulu-Images/live-sports-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .live-sports-content {
        top: 30px;
        left: 20px;
        margin-top: 60px;
    }
    .footer-lists {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 150px;
    }
    .modal .modal-box {
        width: 350px;
    }
    .social-icons img {
        position: relative;
        left: 120px;
    }
}